/**
*  Copyright (c) Moussa Hellal 2019
 //MARK:BACKGROUND search for this to change background color
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #cccccc;
    color: #cccccc;
    font-family: Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 1000px;/* 900*/
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

.downloadOnAppStore {
    max-width: 200px;/* 900*/
}

header {
    background-color: #cccccc;
}

header .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 6.5em;
    color: #191919;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
                 font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

h1 {
    margin-bottom: 20px;
    font-size: 4em;
    color: #373737;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-color: #373737;
}

h2 {
    padding: 5px 20px;
    /*background-color: #E74C3C;*/
    background-size: 40px 40px;
    border-radius: 10px;
    color: #373737;
    font-size: 1.8em;
}

.rightElementSeeAll {
    /*margin-left: 20px; */
    margin-top: 15px;
    font-weight: bold;
    float: right;
}

.inlineTitle {display:inline-block}
.inlineSeeAll {display:inline-block}

/*MARK: - Profile Image*/
.profileImage {
    width: 30%;
    /*display:inline-block;*/
    float: left;
    padding-right: 20px;
}

/*MARK: - Main P Style */
p {
    margin-bottom: 10px;
    color: #373737;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    line-height: 1.7em;
}

.projectDescription {
    width: 100%;
    align: middle;
}


.publishAbout {
    text-align: center;
}

/*MARK: - About Me*/
.socialLinks {
    width: 50%;
    /*display:inline-block;*/
    float: left;
}

.aboutMeText {
    width: 50%;
    float:left;
    line-height: 1.7em;
}

.scoialIcons {
    width: 75px;
    padding-right: 20px;
}

/*MARK: - Portfolio App Title*/
.portfolioAppTitle {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #373737;
    font-family:  sans-serif;
    font-color: #373737;
    text-align: center;
}

/*MARK: - Portfolio App Icon*/
.portfolioAppIcon {
    width: 75px;
    height: 75px;
    display:table-cell;
      vertical-align:middle;
      margin:auto;
}

/*MARK: - Portfolio App Icon+Title Box Centered*/
.boxCenteredImageTitle {
    display:flex;
        align-items:center;
}

/*MARK: - Portfolio Image*/
/* THIS IS USED WITH this
 .div(.img(.class("portfolioImage"),.src("images/spareTwo.jpf"))),
to be able to fit theimage without the zoom clicking functionality.
 */
/*.portfolioImage {*/
/*    width: 55%;*/
/*    /*display:inline-block;*/*/
/*    float: left;*/
/*}*/

/*.helloword {*/
/*    visibility: hidden;*/
/*}*/
img[alt=drawing] { width: 200px; }



.click-zoom img {
    width: 55%;
    float: left;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.click-zoom-4-screens img {
    width: 80%;
    float: center;
    transition: transform 0.25s ease;
  cursor: zoom-in;
  display:table-cell;
    vertical-align:middle;
    margin:auto;
}

.input[type=checkbox] {
    display: none;
    visibility: hidden;
    opacity: 0;
/*    position:absolute;*/
/*    left:9999px;*/
}
.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out;
}

.click-zoom :hover {
     -ms-transform: scale(1.9); /* IE 9 */
    -webkit-transform: scale(1.9); /* Safari 3-8 */
    transform: scale(1.9);
/*    cursor: zoom-out;*/
}

.click-zoom-4-screens input[type=checkbox]:checked~img {
  transform: scale(1.5);
  cursor: zoom-out;
}

.click-zoom-4-screens :hover {
     -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
/*    cursor: zoom-out;*/
}

.divPortfolio {
    width: 40%;
    float:left;
    padding-left: 70;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: #cccccc;
    color: #cccccc;
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin-bottom: 40px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}
/* MARK: - Footer*/
footer {
        display: block;
       height: 40px;
       position: absolute;
       bottom: 0;
       margin-bottom: 0px;

    color: #373737;
}
/*MARK: - Backgounrd Color */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #F8F8F8;//MARK:BACKGROUND
    }
    /* MARK: - Header Site Name*/
    body,
    header .site-name {
        color: #F8F8F8;/*swift red #FC3D39;*/
    }

    .item-list > li {
        border
        background-color: #F8F8F8;
    }

    header {
        background-color: #373737;
    }
}

/*MARK: - Backgounrd Color */
@media (prefers-color-scheme: light) {
    body {
        background-color: #F8F8F8;//MARK:BACKGROUND
    }
    /* MARK: - Header Site Name*/
    body,
    header .site-name {
        color: #F8F8F8;/*swift red #FC3D39;*/
    }

    .item-list > li {
        border
        background-color: #F8F8F8;
    }

    header {
        background-color: #373737;
    }
}
/*MARK: - Intall on app store*/
.installAppStore {
    max-width: 40%;
    height: auto;
}

.technologiesUsed{
    max-width: 65%;
    height: auto;
}

/*MARK: - Media at 600px*/
@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
    
}

/*MARK: - Media at 600px*/
@media(max-width: 900px) {
    .imageApp {
        width: 100%;
    }
    .click-zoom img{
        width: 100%;

    }
    .divPortfolio {
        width: 100%;
        align: middle;
    }
    
}

/* MARK: - Divider*/
.hr {
    margin: 0 0 50px 0;
    display: block;
    border: none;
    height: 30px;
    background: #0071B9;
    background: linear-gradient(to right, white, #0071B9, #26ABFF, #0071B9, white);
}
  

/*MARK: - Nav Section*/
.navSections ul {
  list-style: none;
  background-color: #F76C6C;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 25px;
}
.navSections li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  border-radius: 25px;
}
 
.navSections a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  border-radius: 25px;
}
 /* MARK: - Nav sections*/
.navSections a:hover {
  background-color: #191919/*#C0B283 */;
}
 
.navSections a.active {
  background-color: #F76C6C;
  color: #444;
  cursor: default;
  border-radius: 25px;
}

/*
 Buttom Home See More
*/

.buttonSeeMore {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

.buttonSeeMore: hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

.buttonSeeMore: active {
    box-shadow: inset 0 2px 5px #2370FE;
}




@media screen and (min-width: 600px) {
  .navSections li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .navSections li {
    display: inline-block;
    margin-right: -4px;
  }
}

/* CLICKABLE REB BUTTON */
.action-button
{
    /*text-align: center;*/
    /*position: relative;*/
    padding: 5px 20px;
    /*margin: 20px 20px 20px 45%;*/
    /*float: left;*/
    border-radius: 10px;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.action-button:active
{
    transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.red
{
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
